*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #001;
    display: flex;
}
/* .profile{
    display: none;
} */
.menu{
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}
.menu:hover{
    width: 250px;
    transition: 0.5s;
}
ul{
    list-style: none;
    position: relative;
    height:95%
}
ul li a{
    display: block;
    text-decoration: none;
    /* background-color: red; */
    padding: 10py;
    margin: 20px 0 ;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    /* Gab bedeutet Entfernung */
    transition: 0.3s;
}
ul li a:hover, .active, .data-info .box:hover, td:hover, th:hover{
    background-color: #234;
    
}
.log-out{
    position: absolute;
    /* position: absolute richtet sich immer nach dem nächsten Elternteil mit position: relative. */
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: red;
}
ul li a i{
    /* color: red; */
    font-size: 40px;
}
.img-box{
    width: 50px;
    height: 50px;
    overflow: hidden;
    /* border: 3px solid white; */
    flex-shrink: 0;
    /* flex-shrink bestimmt, ob und wie stark ein Flex-Item kleiner werden darf, wenn im Container zu wenig Platz ist , Element darf nicht schrumpfen*/
}
.img-box img{
    width: 100%;
    border-radius: 50%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px
}
.profile h2{
   font-size: 20px;
   text-transform: capitalize;
}
.content{
    background-color: rgb(103, 103, 107);
    width: 100%;
}
.title-info{
    background-color: rgb(80, 80, 224);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px 1px;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Elemente dürfen umbrechen statt gequetscht zu werden. */
    gap: 20px;
}
.data-info .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    /* flex-basis legt die Startgröße (Basisgröße) eines Flex-Items fest,
    bevor flex-grow und flex-shrink angewendet werden. */
    flex-grow: 1;
    /* flex-grow bestimmt, wie viel zusätzlichen freien Platz
ein Flex-Item im Verhältnis zu anderen Items bekommt. */    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box i{
    font-size: 50px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;  
}
th, td{
    padding: 10px;
    background-color: #001;
    height: 40px;
    border-radius: 8px;
}
th{
    background-color: #123;
}
.price, .count{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 6px;
}
.price{
    background-color: rgba(26, 98, 170, 0.644);
}
.count{
    background-color: rgba(26, 170, 98, 0.644);
}